@font-face {
    font-family: 'Lovelo';
    src: url('../assets/fonts/Lovelo-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.contWidth {
    width: 100%;
    margin: 0 auto;
}

.imgContainer {
    position: relative;
    text-align: center;
}

.textOverlay {
    position: absolute;
    top: 35%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: #5f7acd;
    font-size: 3.5rem;
    font-family: 'Lovelo';
}

.secondTextOverlay{
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.5rem;
    font-family: 'Lovelo';
}

.btnStyle {
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
    background-color: #5f7acd;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Lovelo';
    cursor: pointer;
}

.btnStyle:hover {
    background-color: #7490e6;
}

.imgFluid {
    width: 100%;
    height: auto;
}

/* Estilos para pantallas muy grandes (desktops) */
@media (min-width: 1400px) {
    .textOverlay {
        font-size: 3.5rem;
    }
    .secondTextOverlay {
        font-size: 3.5rem;
    }
    .btnStyle {
        font-size: 1.5rem;
    }
}

/* Estilos para pantallas grandes (laptops) */
@media (min-width: 992px) {
    .textOverlay {
        font-size: 2rem;
    }
    .secondTextOverlay {
        font-size: 2rem;
    }
    .btnStyle {
        font-size: 1.5rem;
    }
}

/* Estilos para pantallas medianas (tablets, 768px y más) */
@media (min-width: 768px) and (max-width: 991px) {
    .textOverlay {
        font-size: 1.5rem;
    }
    .secondTextOverlay {
        font-size: 1.5rem;
    }
    .btnStyle {
        font-size: 1.2rem;
        height: 5vh;
        width: 18vh;
    }
}

/* Estilos para pantallas pequeñas (landscape phones, 576px y más) */
@media (max-width: 767px) {
    .textOverlay {
        font-size: 0.9rem;
    }
    .secondTextOverlay {
        font-size: 0.9rem;
    }
    .btnStyle {
        font-size: 0.8rem;
        height: 4.5vh;
        width: 16vh;
    }
}

/* Estilos para pantallas ultra pequeñas (menos de 576px) */
@media (max-width: 574px) {
    .textOverlay {
        font-size: 0.6rem;
    }
    .secondTextOverlay {
        font-size: 0.6rem;
    }
    .btnStyle {
        font-size: 0.7rem;
        height: 4vh;
        width: 13vh;
    }
}

/* Estilos para pantallas extra pequeñas (entre 375px y 420px) */
@media (min-width: 375px) and(max-width: 420px) {
    .textOverlay {
        font-size: 0.6rem;
    }
    .secondTextOverlay {
        font-size: 0.7rem;
    }
    .btnStyle {
        font-size: 0.5rem;
        height: 5vh;
        width: 15vh;
    }
}