---
import Main from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import styles from "@/styles/candidate.module.css";
import JorgeBonicaImage from "@/assets/images/jorgebonica.webp";
---

<Main>
  <title slot="title">Basta YA! | Jorge Bonica</title>
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h1 class="display-5">Conozca a Nuestro Candidato</h1>
        <p class="lead mt-4">
          Mi nombre es Jorge Bonica, y hoy me dirijo a ustedes no solo como
          periodista y empresario, sino como un uruguayo más, cansado de las
          promesas incumplidas y la rampante corrupción que ha corroído las
          bases de nuestro querido país. Durante años, mi trabajo como
          periodista me ha puesto en la primera línea de la lucha por la verdad
          y la transparencia. He enfrentado amenazas y represalias, he visto
          cómo se cierran puertas por el simple acto de hablar y exponer la
          verdad. Pero también he visto la fuerza y la esperanza en los ojos de
          muchos uruguayos que, como yo, sueñan con un cambio real.
        </p>
        <p class="mt-3">
          Por estas razones, y acompañado por cientos de vecinos de todo Uruguay
          que comparten un deseo de renovación, decidimos fundar el Partido
          Basta YA!. Un partido libre de ataduras con la elite corrupta que ha
          gobernado nuestro país por demasiado tiempo. Nosotros en Basta YA! nos
          comprometemos a romper con el statu quo, a desafiar el sistema desde
          sus cimientos para reconstruirlo en favor de todos, no solo de unos
          pocos.
        </p>
        <p class="mt-3">
          Mi compromiso con ustedes es el de un servicio inquebrantable. No me
          presento aquí por ambición personal, sino por un compromiso moral
          inalterable con nuestro Uruguay. Las propuestas que traemos son
          audaces, prácticas y, sobre todo, necesarias. No prometemos más de lo
          mismo: burocracia asfixiante y programas costosos que prometen mucho y
          entregan poco. En lugar de ello, proponemos soluciones eficientes que
          realmente atiendan las necesidades urgentes de nuestra sociedad.
        </p>
        <p class="mt-3">
          Creemos que Uruguay ya cuenta con los recursos y la institucionalidad
          necesaria para ser no solo un buen país, sino un gran país. Lo que ha
          faltado es la voluntad política para hacer uso eficiente de estos
          recursos, para cortar la grasa de una burocracia ineficiente que solo
          sirve para drenar nuestros bolsillos y ahogar nuestro espíritu
          emprendedor.
        </p>
        <p class="mt-3">
          Nuestras propuestas son claras: reducir el tamaño del estado no
          esencial, eliminar las "islas burocráticas" que no aportan al
          desarrollo nacional, y reasignar esos recursos a áreas donde pueden
          hacer una verdadera diferencia. Cada nueva propuesta de nuestro
          partido está diseñada para autofinanciarse mediante la eliminación de
          gastos innecesarios y la optimización de los existentes. No se trata
          de gastar más, sino de invertir mejor.
        </p>
        <p class="mt-3">
          En Basta YA!, prometemos gobernar con honestidad, transparencia y un
          firme compromiso moral. La corrupción es el enemigo número uno de la
          prosperidad, y nuestra lucha será implacable. Este no es solo un
          proyecto político, es un llamado a todos los uruguayos que creen en la
          capacidad de este país para superar cualquier desafío, siempre que
          trabajemos juntos, con integridad y respeto por nuestros valores
          compartidos.
        </p>
        <p class="mt-3">
          Estoy aquí para pedirles que se unan a este movimiento, no solo para
          cambiar un gobierno, sino para transformar nuestra sociedad en una
          donde el bienestar, la justicia y la igualdad de oportunidades no sean
          solo ideales, sino realidades cotidianas. Juntos, podemos escribir un
          nuevo capítulo en la historia de Uruguay. Un capítulo donde el
          bienestar de todos es la prioridad, y donde nuestros niños y niñas
          pueden crecer en un país del que todos podemos estar orgullosos.
        </p>
        <p class="mt-4">
          <strong>Con esperanza y determinación,<br />Jorge Bonica</strong>
        </p>
      </div>
      <div class="col-md-4 text-center">
        <Image
        src={JorgeBonicaImage}
        alt="Jorge Bonica"
        class={`${styles.circularImage}`}
      />
      </div>
    </div>
  </div>
</Main>
