---
import Participate from "@/components/home/Participate.astro";
import Main from "@/layouts/MainLayout.astro";
---

<Main>
  <title slot="title">Basta YA! | Contacto</title>
  <div class="p-5 text-center">
    <h1 class="text-3xl font-bold">Contactate con Nosotros</h1>
    <Participate />
  </div>
</Main>
