---
import PdfViewer from "@/components/common/PdfViewer";
import Main from "@/layouts/MainLayout.astro";

---

<Main>
  <title slot="title">Basta YA! | Propuestas</title>
  <div class="p-5 text-center">
	<h1 class="text-3xl font-bold">Nuestro Programa de Gobierno</h1>
  <div>
    <PdfViewer client:load />
  </div>
  </div>
</Main>