---
import Main from "@/layouts/MainLayout.astro";
---

<Main>
  <title slot="title">Basta YA! | Transparencia</title>
  <div class="p-5">
    <h1 class="display-4 fw-bold">Transparencia</h1>
    <section class="mt-5 text-justify">
      <p>
        En el Partido Basta YA!, creemos firmemente que la esencia de una
        democracia robusta y duradera reside en la transparencia y el acceso
        abierto a la información. Por esta razón, nos complace compartir los
        detalles técnicos y el código fuente de nuestro sitio web, evidenciando
        nuestro compromiso con estos principios fundamentales.
      </p>

      <p>
        Este sitio web ha sido desarrollado utilizando <strong>Astro</strong>
        y <strong>React</strong>, que sin lugar a dudas son dos de las
        tecnologías más modernas y eficientes open source dentro del desarrollo
        web actual. Esperemos que compartiendo estos detalles, podamos
        establecer un nexo de confianza que nos permita trabajar desde ya en
        estos detalles, que si bien pueden parecer irrelevantes desde el punto
        de vista político, en realidad implica un profundo compromiso con la
        lucha anti secretismos. Así mismo, el código fuente de este sitio web,
        puede ser reutilizado para otros fines, como por ejemplo, la creación de
        sitios web para otras causas sociales.
      </p>

      <p>
        El despliegue de nuestra plataforma en <strong>Netlify</strong> ha sido posible
        gracias a su generoso modelo de hosting gratuito para desarrolladores, que
        ha permitido que nuestro partido, que cuenta con recursos limitados y que
        no nos avergüenza decirlo, pueda tener una presencia en línea de alta calidad
        sin incurrir en costos que serían imposibles de sostener en este momento.
        Estamos profundamente agradecidos con Netlify por apoyar iniciativas que
        fortalecen la democracia, permitiendo que partidos como el nuestro utilicen
        servicios de hosting de primera clase para llegar a un público más amplio.
      </p>

      <p>
        Como mencionamos con anterioridad y con el objetivo de fomentar un
        ecosistema de transparencia y colaboración, hemos decidido publicar el
        código fuente de nuestro sitio en <strong>GitHub</strong>, accesible
        para todos. Este paso no solo refleja nuestro compromiso con la
        transparencia, sino que también invita a la comunidad tecnológica y a
        otros actores políticos a utilizar y continuar este tipo de actitudes.
      </p>

      <p>
        Puedes acceder al código fuente del sitio a través del siguiente enlace: <a
          href="https://github.com/NebyX1/basta-ya-web"
          target="_blank"
          class="link-primary">Código Fuente en GitHub</a
        >. Este repositorio sirve como un recurso valioso para cualquiera que
        desee entender mejor cómo se puede usar la tecnología para fomentar la
        transparencia y la participación ciudadana en el ámbito político.
      </p>

      <p>
        Uno de los pilaras del <strong>Partido Basta YA!</strong> es la creencia
        firme de que una democracia fuerte y saludable exige total transparencia
        en todos sus aspectos, y queremos marcar la diferencia con respecto a cómo
        se han venido haciendo las cosas hasta ahoara en la política uruguaya, con
        el secreto como escudo y excusa para firmar tratos de todo tipo a espaldas
        del pueblo. Al hacer público nuestro código, esperamos no solo demostrar
        nuestro compromiso con estos valores, sino también proporcionar un ejemplo
        tangible que otros puedan seguir, beneficiando así el panorama democrático
        global.
      </p>

      <p>
        En última instancia, nuestro objetivo es asegurar que cada acción que
        tomamos como partido no solo sea visible y comprensible para todos los
        ciudadanos, sino que también sirva como un llamado a la acción para que
        otras organizaciones adopten prácticas similares, avanzando juntos hacia
        un futuro más transparente y democrático.
      </p>
    </section>
  </div>
</Main>
