---
import Main from "@/layouts/MainLayout.astro";
---

<Main>
  <title slot="title">Basta YA! | Legal</title>
  <div class="p-5">
    <h1 class="display-4 fw-bold">Legal</h1>
    <section class="mt-5">
      <h2 class="h3">1. Aceptación de las Condiciones Generales de Uso</h2>
      <p class="text-justify">
        Al acceder, navegar, utilizar o participar en los servicios y contenidos
        de este sitio web, el usuario acepta las presentes Condiciones Generales
        de Uso y nuestra Política de Privacidad. Esta política explica el
        tratamiento de los datos personales proporcionados por los usuarios y
        cómo estos pueden ejercer sus derechos sobre dichos datos.
      </p>
      <p class="text-justify">
        El usuario confirma ser mayor de 18 años y acepta responsabilizarse
        plenamente por el cumplimiento de estas Condiciones Generales de Uso,
        actuando siempre de acuerdo a la ley, la buena fe, las normas de moral y
        orden público. Asimismo, se compromete a seguir las instrucciones
        adicionales que puedan proporcionarse respecto al uso y acceso del
        sitio.
      </p>

      <h2 class="h3">2. Acceso y uso del portal</h2>
      <p class="text-justify">
        El acceso al sitio web del Partido Basta YA! es completamente libre y
        gratuito, promoviendo así la participación activa y consciente en
        nuestra democracia.
      </p>

      <h2 class="h3">3. Participación de los usuarios y contenidos</h2>
      <p class="text-justify">
        Los usuarios deben comprometerse a utilizar los contenidos del sitio de
        manera lícita, adecuada y respetuosa. El Partido Basta YA! no se hace
        responsable por las opiniones o comentarios hechos por los usuarios en
        foros o cualquier otra sección de participación, siendo estos los únicos
        responsables de sus publicaciones.
      </p>
      <p class="text-justify">
        Nos reservamos el derecho de retirar cualquier contenido que pueda ser
        considerado ofensivo, discriminatorio o que viole los principios de
        dignidad humana.
      </p>

      <h2 class="h3">4. Prohibiciones específicas</h2>
      <p class="text-justify">
        Queda prohibido el uso de técnicas como el "framing" sin previo
        consentimiento. Asimismo, está prohibida la extracción de elementos del
        sitio que puedan afectar a la Protección Jurídica de las Bases de Datos.
      </p>

      <h2 class="h3">5. Propiedad intelectual</h2>
      <p class="text-justify">
        El diseño del sitio, incluyendo logos, marcas y otros signos
        distintivos, son propiedad del Partido Basta YA! y están debidamente
        protegidos. Adoptamos la política de código abierto bajo la licencia
        internacional "Creative Commons Atribución-NoComercial-CompartirIgual
        4.0 Internacional" para fomentar la transparencia y colaboración. Esto
        permite:
      </p>
      <ul>
        <li>Copiar, distribuir y comunicar públicamente la obra.</li>
        <li>Crear obras derivadas.</li>
        <li>
          Reconocimiento: Citar la fuente y autoría de la manera especificada.
        </li>
        <li>No comercial: No utilizar el material con fines comerciales.</li>
      </ul>

      <h2 class="h3">6. Enlaces</h2>
      <p class="text-justify">
        Los enlaces presentes en nuestro sitio tienen fines informativos. El
        Partido Basta YA! no garantiza el cumplimiento normativo de terceros
        sitios web y se reserva el derecho de eliminar cualquier enlace sin
        previo aviso.
      </p>

      <h2 class="h3">7. Limitación de responsabilidad</h2>
      <p class="text-justify">
        A pesar de nuestros esfuerzos en implementar medidas de seguridad
        avanzadas, el Partido Basta YA! no puede garantizar la ausencia de
        errores o la invulnerabilidad completa de nuestro sitio frente a ataques
        externos.
      </p>

      <h2 class="h3">8. Legislación aplicable y jurisdicción</h2>
      <p class="text-justify">
        Las interacciones entre el Partido Basta YA! y los usuarios se regirán
        bajo la Ley N° 18485 de Partidos Políticos y la Ley 18.381 de Acceso a
        la Información Pública de Uruguay. Cualquier disputa será sometida a los
        tribunales uruguayos, renunciando expresamente a cualquier otro fuero.
      </p>

      <h2 class="h3">9. Compromiso con la transparencia</h2>
      <p class="text-justify">
        Inspirados en el espíritu participativo de la Constitución Uruguaya y en
        la transparencia de datos de la Ley 18.381, el Partido Basta YA! ha
        decidido liberar el código de este sitio como parte de nuestro
        compromiso con la transparencia absoluta y la colaboración ciudadana.
      </p>

      <h2 class="h3">10. Vigilancia del cumplimiento</h2>
      <p class="text-justify">
        El Partido Basta YA! perseguirá el incumplimiento de estas condiciones
        así como cualquier uso indebido del sitio, ejerciendo todas las acciones
        legales que correspondan.
      </p>
    </section>
  </div>
</Main>
