---
import Main from "@/layouts/MainLayout.astro";
---

<Main>
  <title slot="title">Basta YA! | Privacidad</title>
  <div class="p-5">
    <h1 class="display-4 fw-bold">Privacidad</h1>
    <section class="mt-5">
      <p class="text-justify">
        <span class="fw-bold">1- </span> En el Partido Basta YA!, comprometidos con
        la seguridad y la protección de la privacidad de nuestros usuarios, aseguramos
        que el manejo de los datos se realiza bajo estrictos niveles de seguridad
        que previenen su pérdida, manipulación o accesos no autorizados. Importante
        destacar que nuestro sitio web no utiliza cookies ni almacena datos personales
        de los usuarios.
      </p>

      <p class="text-justify">
        <span class="fw-bold">2- </span> En cumplimiento de la Ley Nº 18.331 de 11
        de agosto de 2008 y el Decreto Nº 414/009 de 31 de agosto de 2009 sobre la
        Protección de Datos Personales, el Partido Basta YA! informa que no recabamos
        datos personales de carácter permanente de nuestros usuarios.
      </p>

      <p class="text-justify">
        <span class="fw-bold">3- </span> Los únicos datos que podrían ser recogidos
        serían exclusivamente para facilitar servicios específicos solicitados por
        los usuarios y serán eliminados inmediatamente después de su uso, garantizando
        la no acumulación o almacenamiento de datos personales.
      </p>

      <p class="text-justify">
        <span class="fw-bold">4- </span> Hemos implementado medidas de seguridad
        adecuadas para proteger cualquier dato que sea temporalmente recogido y evitar
        su pérdida, alteración y acceso no autorizado. Reconocemos que ninguna medida
        de seguridad en Internet es completamente infalible.
      </p>

      <p class="text-justify">
        <span class="fw-bold">5- </span> El uso de nuestro sitio web si bien no tiene
        limtaciones de edad en su acceso, si está prohibido que menores de edad utilicen
        cualquier medio disponible en nuestro sitio con fines propagandísticos, ya
        que es compromiso del <strong>Partido Basta YA!</strong> proteger a nuestros
        niños y jóvenes del adoctrinamiento político de la naturaleza que sea. También
        recomendamos que los menores de 18 años obtengan el consentimiento de sus
        padres o tutores antes de participar en actividades que puedan requerir la
        recopilación temporal de datos personales.
      </p>

      <p class="text-justify">
        <span class="fw-bold">6- </span> La falta de suministro de datos personales,
        solo y cuando sean estrictamente necesarios para una actividad específica,
        impide la participación en dicha actividad.
      </p>

      <p class="text-justify">
        <span class="fw-bold">7- </span> El Partido Basta YA! no mantiene registros
        de datos personales, por lo tanto, no aplican las condiciones de verificación
        de veracidad y no se efectúa ningún tipo de exclusión por datos falsos proporcionados
        de manera transitoria.
      </p>

      <p class="text-justify">
        <span class="fw-bold">8- </span> Los datos que pudieran ser en ocasiones
        excepcionales recogidos, serán manejados exclusivamente por el Partido Basta
        YA! y no se cederán a terceros, a menos que así lo exija la ley.
      </p>

      <p class="text-justify">
        <span class="fw-bold">9- </span> Los usuarios pueden solicitar información
        sobre cómo se manejan sus datos temporales conforme a la legislación vigente
        en materia de privacidad, aunque reiteramos que no se mantienen datos permanentes
        de los usuarios.
      </p>

      <p class="text-justify">
        <span class="fw-bold">10- </span> Adicionalmente, el Partido Basta YA! se
        compromete a realizar revisiones periódicas de nuestras políticas y procedimientos
        de seguridad para asegurar que nuestras medidas son efectivas y se ajustan
        a las normativas y necesidades actuales de protección de datos.
      </p>
    </section>
  </div>
</Main>
