---
import Main from "@/layouts/MainLayout.astro";

---

<Main>
  <title slot="title">Basta YA! | Privacidad</title>
  <div class="p-5">
	<h1 class="text-3xl font-bold">Privacidad</h1>
	<p class="mt-5">This is the privacy page.</p>
  </div>
</Main>